<div class="font-component">
  <form [formGroup]="categoriaForm" (ngSubmit)="save()" class="cliente-form">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome" class="form-input" />
    </div>
    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" formControlName="descricao" class="form-input" />
    </div>
    <div class="form-group">
      <label for="ativo">Ativo:</label>
      <input type="text" id="ativo" formControlName="ativo" class="form-input" />
    </div>
    <button type="submit" class="submit-btn">
      {{categoriaIdEdicao ? "Atualizar" : "Cadastrar"}}
    </button>
  </form>

  <hr>
  
  <h2 class="page-title">Lista de Categoria</h2>

  <table class="cliente-table">
    <thead>
      <tr>
        <th class="table-header">Id</th>
        <th class="table-header">Nome</th>
        <th class="table-header">Descricao</th>
        <th class="table-header">Ativo</th>
        <th class="table-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let cat of categorias">
        <td class="table-data">{{cat.id}}</td>
        <td class="table-data">{{cat.nome}}</td>
        <td class="table-data">{{cat.descricao}}</td>
        <td class="table-data">{{cat.ativa}}</td>
        <td class="table-actions">
          <input type="button" value="Editar" class="action-btn"/>
          <input type="button" value="Remover" class="action-btn-remove"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
